table {
  border-collapse: collapse;
}

th {
  background: #fc0;
}

td {
  background: #fff;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

.t_left {
  text-align: left;
}

.t_center {
  text-align: center;
}

.error {
  color:red
}