<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bark: info task</title>
    <link href="../../css/app.css" rel="stylesheet">
</head>
<body>
    <center><p>Bark - task manager</p></center>
    <br>
    <center>Info task</center>
    <br>
    <center>
        <table>
            <tr>
                <th class="t_left">ID:</th>
                <td th:text="${task.id}"></td>
            </tr>
            <tr>
                <th class="t_left">Name:</th>
                <td th:text="${task.name}"></td>
            </tr>
            <tr>
                <th class="t_left">Owner:</th>
                <td th:text="${task.owner}"></td>
            </tr>
            <tr>
                <th class="t_left">Executor:</th>
                <td th:text="${task.executor}"></td>
            </tr>
            <tr>
                <th class="t_left" colspan="2">Description:</th>
            </tr>
            <tr>
                <td colspan="2" th:text="${task.description}"></td>
            </tr>
            <tr>
                <td>
                    <form th:action="@{'/tasks/change/' + ${task.id}}" method="POST">
                        <input type="submit" value="change "/>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/tasks/del/' + ${task.id}}" method="POST">
                        <input type="submit" value="delete"/>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>
                    <a th:href="@{/}">go home</a>
                </td>
                <td>
                    <a th:href="@{/tasks/list}">Task list</a>
                </td>
            </tr>
        </table>
    </center>

</body>
</html>