<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bark: add task</title>
    <link href="../css/app.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">
</head>
<body>
    <center><p>Bark - task manager</p></center>
    <br>
    <center th:unless="${id}">Add new task</center>
    <center th:if="${id}">Change task</center>
    <br>
    <center>
    <form th:action="@{/tasks/operation}" th:object="${task}" method="POST">
        <input type="hidden" th:value="*{id}" name="id" th:if="${id}"/>
        <table>
            <tr>
                <th class="t_left">Name:</th>
                <td>
                    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
                    <input th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <th class="t_left">Owner:</th>
                <td>
                    <div class="error" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}" />
                    <select th:field="*{owner}">
                        <option value="" th:unless="${id}"></option>
                        <option th:each="own : ${pOwner}" th:value="${own.id}" th:text="${own.name}" th:unless="${id}"/>
                        <option th:each="own : ${pOwner}" th:value="${own.id}" th:text="${own.name}" th:selected="${task.owner.id == own.id}" th:if="${id}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="t_left">Executor:</th>
                <td>
                    <div class="error" th:if="${#fields.hasErrors('executor')}" th:errors="*{executor}" />
                    <select th:field="*{executor}">
                        <option value="" th:unless="${id}"></option>
                        <option th:each="ex : ${pExecutors}" th:value="${ex.id}" th:text="${ex.name}" th:unless="${id}"/>
                        <option th:each="ex : ${pExecutors}" th:value="${ex.id}" th:text="${ex.name}" th:selected="${task.executor.id == ex.id}" th:if="${id}"/>
                    </select>
                </td>
            </tr>
            <tr th:if="${id}">
                <th class="t_left">Status:</th>
                <td>
                    <select th:field="*{status}">
                        <option th:each="st : ${pStstus}" th:value="${st.statusId}" th:text="${st.statusName}" th:selected="${task.status.statusId == st.statusId}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="t_left" colspan="2">Description:</th>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                    <textarea rows="10" cols="45" th:field="*{description}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="create task" th:unless="${id}"/>
                    <input type="submit" value="change task" th:if="${id}"/>
                </td>
            </tr>
        </table>
    </form>
    <br>
        <table>
            <tr>
                <td>
                    <a th:href="@{/}">go home</a>
                </td>
                <td>
                    <a th:href="@{/tasks/list}">Task list</a>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>